.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(112, 112, 148);
  justify-content: center;
  align-items: center;
  display: flex;
}
.img-title {
  justify-content: center;
  align-items: center;
  display: flex;
  .img {
    width: 70px;
    height: 70px;
  }
}
