<div class="container">
    <h1>HOMEEEEEEEE!</h1>
    <div class="cards-container">

        <div class="card-destino" *ngFor="let destino of allDestino">
            <div class="img-container">
                <img class="img-destino"
                    src="https://images.pexels.com/photos/5992619/pexels-photo-5992619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            </div>

            <p class="card-title">{{destino.name}}</p>
            <p class="card-description">{{destino.descricao}}</p>
        </div>

    </div>
</div>