<section class="auth-form">
  <form [formGroup]="form">
    <img
      class="logo-triphabittat"
      src="../../../../assets/llogo.png"
      alt="logo"
    />
    <div class="form-input" appearance="outline">
      <input
        type="text"
        name="name"
        placeholder="Nome"
        formControlName="name"
      />
    </div>
    <div class="form-input" appearance="outline">
      <input type="text" name="email" placeholder="E-mail" />
    </div>
    <div class="form-input" appearance="outline">
      <input
        type="text"
        formControlName="password"
        name="password"
        placeholder="Senha"
      />
    </div>
    <button
      mat-button
      class="button-login"
      type="submit"
      [disabled]="this.form.invalid"
    >
      Cadastre-se
    </button>
    <p class="small-text">
      já tem uma conta?
      <a class="button-forgot-password" [routerLink]="['/']"> Faça login </a>
    </p>
  </form>
</section>
