<div class="container">
  <div class="title-container">
    <p>Edit destination</p>
  </div>
  <form class="form" [formGroup]="form" (ngSubmit)="handleEdit()">
    <mat-form-field appearance="fill">
      <mat-label>Link da foto</mat-label>
      <input matInput formControlName="imgUrl" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Selecione o estado</mat-label>
      <mat-select
        formControlName="state"
        (selectionChange)="handleSelectState()"
      >
        <mat-option *ngFor="let state of states" [value]="state.nome">
          {{ state.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Selecione a cidade</mat-label>
      <mat-select formControlName="name">
        <mat-option *ngFor="let city of cities" [value]="city.nome">
          {{ city.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao"> </textarea>
    </mat-form-field>
    <button class="color-title" mat-button type="submit">
      <mat-icon>near_me</mat-icon>
      Editar
    </button>
  </form>
</div>
