<div class="container">
  <div class="title-container">
    <p>Register news cards</p>
  </div>
  <form class="form" [formGroup]="form" (ngSubmit)="handleCreate()">
    <mat-form-field appearance="fill">
      <mat-label>Link da foto</mat-label>
      <input matInput formControlName="imgUrl" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Selecione o estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Selecione a cidade</mat-label>
      <mat-select formControlName="name">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao"> </textarea>
    </mat-form-field>
    <button class="color-title" mat-button type="submit">
      <mat-icon>near_me</mat-icon>
      Register
    </button>
  </form>
</div>
