* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
      Helvetica Neue, Arial, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
