<div class="container">
  <h1>Avaliação dos Destinos</h1>
  <div class="destination-container">
    <div class="avaliation-destino">
      <div class="destination">
        <div class="img-container">
          <img class="img-destino" [src]="this.destino.imgUrl" />
          <div class="dest-info-container">
            <p class="destination-title">{{ this.destino.name }}</p>
            <p class="destination-description">{{ this.destino.descricao }}</p>
          </div>
        </div>
        <div class="avaliations-container">
          <form [formGroup]="form" (ngSubmit)="handleSubmitAvaliation()">
            <mat-form-field appearance="fill" class="avaliation-text-area">
              <mat-label>Avaliar</mat-label>
              <textarea matInput formControlName="conteudo"> </textarea>
            </mat-form-field>
            <button class="color-title" mat-button type="submit">
              <mat-icon>near_me</mat-icon>
              Enviar
            </button>
          </form>
          <!-- <div class="avaliation " *ngFor="let avaliacao of destino.avaliacoes">
                                      <p class="avaliation-user">{{avaliacao.user}}</p>
                                      <p class="avaliation-description">{{avaliacao.descricao}}</p>
                                  </div> -->
          <p class="avaliations-title">AVALIAÇÕES:</p>
          <div class="avaliation" *ngFor="let avaliacao of avaliacoes">
            <p class="avaliation-description">{{ avaliacao.conteudo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
