<div class="container">
    <h1>Avaliação dos Destinos</h1>
    <div class="destination-container">

        <div class="avaliation-destino">
            <div class="destination">
                <div class="img-container">
                    <img class="img-destino"
                        src="https://images.pexels.com/photos/5992619/pexels-photo-5992619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
                <div class="dest-info-container">
                    <p class="destination-title">São paulo</p>
                    <p class="destination-description">Esse lugar é top</p>
                    <div class="avaliations-container">
                        <!-- <div class="avaliation " *ngFor="let avaliacao of destino.avaliacoes">
                                        <p class="avaliation-user">{{avaliacao.user}}</p>
                                        <p class="avaliation-description">{{avaliacao.descricao}}</p>
                                    </div> -->
                                    <p>AVALIAÇÕES</p>
                        <div class="avaliation ">
                            <p class="avaliation-user">Monique</p>
                            <p class="avaliation-description">Amei esse lugar</p>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>

    </div>
</div>