.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.avaliation-destino {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.img-container {
    height: 280px;
    width: 290px;
    background: black;
}

.img-destino {
    width: 100%;
    height: 100%;
}

.avaliation-title {
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 5px 5px;
}

.avaliation-description {
    color: rgb(129, 129, 129);
    margin: 0 0 5px 5px;
}

.destination{
    display: flex;
}
.avaliation{
    display: flex;
}

