.container {
  min-height: 100vh;
  display: flex;
//   justify-content: center;
  flex-direction: column;
  h1 {
    // height: 300px;
    text-align: center;
    font-weight: bold;
  }
}

.avaliation-destino {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.destination-container {
  max-width: 1200px;
  display: flex;
}

.img-container {

  display: flex;
}

.img-destino {
  height: 400px;
  width: 390px;  
  
}

.avaliation-title {
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 5px 5px;
}

.avaliation-description {
  color: rgb(129, 129, 129);
  margin: 0 0 5px 5px;
}

.destination {
  margin-left: 30px;

  .destination-title{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
 

  }
  .destination-description{
    font-weight: bold;
    font-size: small;
    margin: 10px;
    color: rgb(129, 129, 129);
  }

}
.avaliations-title {
  font-weight: bold;
    font-size: small;
    margin: 10px;
    margin-top: 40px;
    margin-left: 0;
}
.avaliations-container{
  margin-top: 15px;
  flex: 1;
  .avaliation-text-area {
    width: 100% ;
  }
  .color-title{
    background-color: blue;
    color: white;
    
  }
}
.avaliation{
  flex-direction: column;
  display: flex;
  align-items: flex-start;

  
}



